@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto&display=swap');
/* font css */

.web-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #31A5AC;
}

.calculation-container {
    background-color: #F8F8F8;
    padding: 50px;
    border-radius: 30px;
}

.calculation-container h3 {
    font-family: Roboto;
    font-size: 22px;
    line-height: 21px;
    color: #000000;
    font-weight: 500;
}

/* calculation-container css */

.notify {
    color: #fff;
    text-align: center;
    margin: 0 auto;
    background: #222436;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}

.notify-section {
    width: 35%;
    margin: 0 auto;
}

/* alert css */